<section class="flex pt-150">

  <div  class="flex-col p-small w-quart pt-10 pr-20 scrollable h-500">

    <strong>Versions management</strong>

    <strong>Your current version of <span class="text-red">ruby</span> is <%= RUBY_VERSION %>.</strong>
    <span class="mt-10">to update it run the following in your terminal :</span>
    <ul class="border-bottom light-grey pb-15">
      <li class="pad-grey mb-10">rbenv install -l</li>
      <li class="pad-grey mb-10">rbenv install [VERSION]</li>
      <p># if you want to set only the application Ruby version</p>
      <li class="pad-grey mb-10">rbenv local [VERSION]</li>
      <p># if you want to set the global version of Ruby to be used in all shells</p>
      <li class="pad-grey mb-10">rbenv global [VERSION]</li>
      <p># in both case run the following :</p>
      <li class="mb-10">open your <span class="pad-grey">.ruby_version.rb</span> and change the current version with the new one</li>
      <li class="mb-10">open your <span class="pad-grey">Gemfile.rb</span> and change again the current version with the new one</li>
      <li>run <span class="pad-grey">bundle install</span> in your terminal</li>
    </ul>

    <strong>Your current version of <span class="text-red">Rails</span> is <%= Rails.version %></strong>
    <span class="mt-10">to update it :</span>
    <ul class="border-bottom light-grey pb-15">
      <li class="mb-10"># if you want to set only the application Rails version, open your <span class="pad-grey">Gemfile.rb</span> and copy <span class="pad-red">gem 'rails', '~> [VERSION]'</span></li>
      <li class="mb-10 mt-10">run <span class="pad-grey">bundle install</span> in your terminal</li>
      <li># if you want to set the global version of Rails to be used in all shells, in your terminal run the command <span class="pad-grey">cd</span> then run <span class="pad-grey">gem install rails -v [VERSION]</span>. Then update the application Rails version locally as point at above.</li>
    </ul>

  </div>

  <div class="flex-col-bet m-0-auto p-10">

    <div class="flex-col-cent-start">
      <%= image_tag 'partners/Ruby_on_Rails-logo.png', width: "50px" %>
      <h1>WELCOME on Rails</h1>

      <p class="p-small">This Rails app was generated with <%= link_to "ubi-legal-innovation-team/templates", "https://github.com/ubi-legal-innovation-team/templates/blob/master/default.rb", target: "_blank", class: "text-underline" %>, created by the <%= link_to "Legal Innovation team", "https://www.legallab.ubisoft.org/crew", target:"_blank", class: "text-blue" %>.</p>

      <p>Below is the list of the default configuration files from the generated template :</p>

      <ul>
        <li class="mb-10"><%= link_to "rails config file", "https://github.com/ubi-legal-innovation-team/templates/blob/master/default.rb", target:"_blank", class: "text-electric-blue" %>
        <li class="mb-10"><%= link_to "rails stylesheets", "https://github.com/ubi-legal-innovation-team/rails-stylesheets", target:"_blank", class: "text-blue" %></li>
        <li class="mb-10"><%= link_to "rails javascripts", "https://github.com/ubi-legal-innovation-team/rails-javascripts", target:"_blank", class: "text-blue" %></li>
        <li class="mb-10"><%= link_to "ubisoft fonts", "https://github.com/ubi-legal-innovation-team/rails-fonts", target:"_blank", class: "text-blue" %></li>
        <li class="mb-10"><%= link_to "ubisoft images", "https://github.com/ubi-legal-innovation-team/rails-images", target:"_blank", class: "text-blue" %></li>
        <li class="mb-10"><%= link_to "rails pages", "https://github.com/ubi-legal-innovation-team/rails-pages", target:"_blank", class: "text-blue" %></li>
        <li class="mb-10"><%= link_to "rails partials", "https://github.com/ubi-legal-innovation-team/rails-partials", target:"_blank", class: "text-blue" %></li>
      </ul>
    </div>

    <div class="text-right">
      <%= link_to "start on Rails", home_path, class: "border-black p-10 radius-05" %>
    </div>

  </div>

</section>
